{erl_opts, [debug_info]}.
{deps, [

]}.

{shell, [
    % {config, [{config, "config/sys.config"}]},
    {apps, [exercise]}
]}.

{include_paths, ["_build/default/plugins/gpb/include"]}.

{plugins, [
    {gpb,{git, "git://github.com/jaye-su/gpb.git", {branch, "master"}}},
    {rebar3_gpb_plugin,{git, "git://github.com/jaye-su/rebar3_gpb_plugin.git", {branch, "master"}}},
    {riak_pb_msgcodegen, {git, "git://github.com/ErlyShare/gen_pb_msgcode.git", {branch, "master"}}}

]}.


{gpb_opts, [
    {i, "doc/proto_define"},
    {module_name_suffix, "_pb"},
    {o_erl, "src/proto"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs,
    {maps, true},
    {maps_unset_optional, omitted}
]
}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}},
        {compile, riak_pb_msgcodegen}
    ]}
]}.